.header{
  padding: 50px;
  font-weight: 400;
  font-size: 15px;
  &__btns{
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__btn{
    border: none;
    width: 40px;
    height: 30px;
    cursor: pointer;
    font-weight: 600;
    &-active{
      background: #6E9C9F;
      color: #fff;
    }
  }
}