.header{
  padding: 50px 0;
  font-weight: 400;
  font-size: 15px;
  &__basket{
    position: relative;
    &-count{
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(70%, -70%);
      padding: 5px;
      font-size: 15px;
      line-height: 100%;
      text-align: center;
      color: #FFFFFF;
      width: 25px;
      height: 25px;
      background: #998E78;
      border-radius: 50px;
    }
  }
  &__btns{
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__btn{
    border: none;
    width: 40px;
    height: 30px;
    cursor: pointer;
    font-weight: 600;
    &-active{
      background: #6E9C9F;
      color: #fff;
    }
  }
  &__profile{
    display: flex;
    align-items: center;
    column-gap: 15px;
  }
}