.product{
  .title{
    margin: 64px 0 26px;
  }
  &__row{
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    margin: 67px 0 130px;
  }
  &__content{
    margin: 102px 0 130px;
    display: flex;
    align-items: center;
    column-gap: 74px;
    &-img{
      width: 50%;
      max-width: 536px;
    }
    &-price{
      font-weight: 500;
      font-size: 40px;
      line-height: 110%;
      color: #998E78;
      &-line{
        font-size: 30px;
        text-decoration-line: line-through;
        color: #9C9C9C;
        margin-left: 29px;
      }
    }
    &-choose{
      display: flex;
      column-gap: 14px;
      align-items: center;
      &-text{
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        margin: 59px 0 34px;
      }
    }
    &-size{
      cursor: pointer;
      font-weight: 500;
      font-size: 17px;
      color: #000000;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 41px;
      height: 40px;
      border: 1px solid #000000;
      &_active{
        background: #000000;
        color: #fff;
      }
    }
    &-color{
      cursor: pointer;
      width: 41px;
      height: 41px;
      border-radius: 50%;
      border: 1px solid black;
      &_active{
        position: relative;
        &::before{
          content: '';
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 100%;
          height: 2px;
          background: black;
          //top: 50%;
          //left: 50%;
          //transform: translate(-50%, -50%);
          //content: '';
          //width: 10px;
          //height: 10px;
          //border-radius: 50%;
          //background-color: #c9c9c9;
        }
      }
    }
    &-form{
      display: flex;
      column-gap: 11px;
    }
    &-input{
      width: 68px;
      height: 68px;
      font-size: 20px;
      text-align: center;
      border: 1px solid #AFAFAF;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}